/* 전체 요소 모두 선택 */
* {
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 480px) {
    body {
      background-color: white;
    }
  }

body > header > div {
    color: black;
    font-size: x-large;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
    background-color: blue;
    display: inline-flex;
    padding: 10px;
}

/* 가상 클래스 selector */
a:hover {
    color: white;
    background-color: coral;
}

header {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 10px;
    height: 200px;
}

ul {
    border: 2px;
    margin: 100px;
    padding:20px;
    display: flex;
}